
:root {
    /* Neutral Colours */
    --color-white: #fff;
    --color-black: #060606;
    --color-grey-primary: #1d2434;
    --color-grey-dark: #071021;
    --color-grey-light-1: #28303d;
    --color-grey-light-2: #7f8d9a;
  
    /* Red Colours */
    --color-red-primary: #ff4654;
    --color-red-light: #ff929b;
    --color-red-dark: #db343e;
  
    /* Lime Colours */
    --color-lime-primary: #b9ff23;
    --color-lime-light: #ddff9e;
  
    /* Purple Colours */
    --color-purple-primary: #6d1bd5;
    --color-purple-light: #7d34d9;
  
    /* Typography */
    --font-primary: "Valorant", sans-serif;
    --font-display: "Poppins", sans-serif;
  
    /* Clip Path */
  
    /* Filter */
    --fillter: invert(41%) sepia(36%) saturate(4847%) hue-rotate(331deg)
      brightness(102%) contrast(101%);
  }
  