/* ========== Category START ========== */
.category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
   } 
   .category__item{
     position: relative;
     display: grid;
     grid-template-columns: 5fr 7fr;
     align-items: center;
     background-color: var(--color-grey-primary);
     border: 2px solid var(--color-grey-light-2);
     margin-bottom: 1rem;
   }
   .category__item__content__text{
     padding: .5rem 1.5rem;
   }
   .category__item__content h1{
     font-size: 4rem;
     font-weight: normal;
     background-color: var(--color-red-primary);
     padding: 1.8rem 1.5rem 1rem;
     clip-path: polygon(0 0, 65% 0, 90% 100%, 0% 100%);
     transform: translateX(-2px);
   }
   .category__item__content p{
     font-size: 1.2rem;
     color: var(--color-grey-light-2);
   }
   .category__item__image img{
     position: relative;
     display: block;
     margin: 0 auto;
     width: 100%;
     max-width: 20rem;
     transform: scale(1.20);
     transform-origin: bottom left;
     z-index: 15;
   }
   /* ========== Category END ========== */